body {
    background-color: rgb(37, 136, 202);
}

p {
    text-align: justify;
}
.cor {
    color: rgb(179, 177, 177);
}
.cor_1 {
    color: rgb(0, 255, 179);
}

.cor_2 {
    color: yellow:
}

.cor_3 {
    color: blueviolet;
}
.cor_4 {
    color: rgb(255, 15, 15);
}